/* Getting rid of default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://cdn.wallpapersafari.com/26/89/2t05m8.jpg");
  background-size: cover;
  color: rgb(255, 255, 255);
  overflow: hidden;
}

/* Setting default font-size to 1px ,So 1rem = 1px  */
html {
  font-size: 10px;
}

main {
  margin: 1rem;
  height: 100vh;
}

/* Making top to bottom layout for main and form elements  */
main,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  font-size: 1.8rem;
  text-align: left;
}

/* Styling the card  */
section {
  /* To make background objects blurry  */
  backdrop-filter: blur(.4rem);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  box-shadow: 0 0 1rem black;
  /* width: 95% and max-width: 350rem */
  width: min(95%, 35rem);
}

header {
  margin-bottom: 2rem;
  font-weight: 500;
  color:rgb(0, 13, 43);
}

/* Styling Form Elements */
label {
  margin-bottom: .5rem;
}


input {
  margin-bottom: 1rem;
  padding: .5rem;
  background-color: rgba(126, 16, 71, 0.2);
  border: .1rem solid rgb(128, 128, 128,0.9);
  font-size: 1.6rem;
  color: rgb(7, 9, 25);
  border-radius: .3rem;
}

.submit-btn {
  background-color: rgb(43, 63, 88,0.7);
  color:white;
  padding: .6rem;
  margin-top: 2.2rem;
  cursor: pointer;
  /* border: 2rem solid rgb(70, 47, 149,0.9);
  box-shadow: 0 0 10px rgb(70, 47, 149); */
}

input:focus{
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 1px #9ecaed;
}

.submit-btn:focus{
  color: #9ecaed;
  text-shadow: 0 0 1px #9ecaed;
}

/* Media query  */
@media (min-width: 600px) {
  html {
    font-size: 12px;
  }
  /* section{
    position: absolute;
    left:10%;
    bottom: 10%;
  } */
}
