*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  /* Font sizes  */
  --bigF: 3.6rem;
  --midF: 1.8rem;
  --smallF: 1.6rem;
  --lightF: 1.4rem;

  --padding: clamp(1rem, 4vw, 2rem);

  /* Colors */
  --textC: rgb(59, 59, 59);
  --textC2: black;

  --textC: hsl(216, 12%, 92%);
  --textC2: white;

  --accentC: hsl(225, 39%, 24%);
  --accentCT: hsl(225, 38%, 29%);
  --accentC2: hsl(206, 48%, 51%);

  --bgC: hsl(216, 12%, 92%);
  --bgC: black;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: var(--bgC);
  color: var(--textC);
  overflow-x: hidden;
}

/* Global Properties  */
h1 {
  font-size: var(--bigF);
  color: var(--textC2);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: var(--midF);
  color: var(--textC2);
  font-weight: 500;
  line-height: 0.7;
  margin-bottom: 2rem;
}

p {
  font-size: var(--smallF);
  color: var(--textC);
  font-weight: 300;
  line-height: 1.6;
  max-width: 60ch;
  margin-bottom: 6rem;
}

a {
  font-size: var(--lightF);
  font-weight: 300;
  text-decoration: none;
  color: var(--textC);
}

.primary-title span {
  position: relative;
  z-index: 1;
}

.primary-title span::after {
  content: "";
  width: calc(100% + 0.2em);
  height: 0.2em;
  background-color: var(--accentC2);

  position: absolute;
  bottom: 0.1em;
  left: -0.1em;
  z-index: -1;
}

li {
  list-style: none;
}

.icon {
  height: 20px;
  filter: invert(1);
}

.icon:hover {
  filter: invert(77%) sepia(36%) saturate(6017%) hue-rotate(179deg)
    brightness(78%) contrast(87%);
  transition: 0.2s ease-in-out;
}

.logo {
  height: 30px;
  margin-right: 20px;
}

.container {
  padding: 0 var(--padding);
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 10rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  font-size: var(--midF);
  font-weight: 700;
  padding: 0.8em 2em;
  color: var(--accentCT);
  background-color: white;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}

/* Top heading section */
#header {
  background-color: var(--bgC);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
}

.header {
  min-height: 5rem;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding-top: 0;
}

.nav-links,
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: none;
}

.nav-list {
  width: 100%;
}

.nav-link {
  padding: 0 1rem;
}

.nav-link:hover {
  color: hsl(206, 48%, 51%);
  transition: 0.2s ease-in-out;
}

.hamburger {
  display: none;
}

#toggle-nav-checkbox {
  display: none;
}

/* Hero  */
#hero {
  /* background-image: url("img/background2.jpg"); */
  /* background-size: cover;
  background-position: center center;
  background-attachment: fixed; */
}

.hero {
  padding-top: 10rem;
  flex-direction: row;
  /* background-color: var(--accentC); */
}

.hero .article {
  flex: 1 1 50%;
}

.hero-image {
  padding-bottom: 2rem;
}

.download-btn {
  margin-bottom: 5rem;
}

.download-btn::after {
  content: "3.2.2";
  color: var(--textC);
  background-color: var(--accentC2);
  position: absolute;
  top: 0;
  left: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 1rem;
  height: 100%;
}

/* Features  */
.features{
 /* align-items: flex-start; */
}

.features .collection{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem,max-content));
  justify-content: center;
  gap:2rem;
  width: 100vw;
}

.features .article{
  width:100%;
  max-width: 40rem;
  padding: 1rem;

  position: relative;
}


.feature-details{
  position: absolute;
  bottom: 0;
  left:0;
  background-color: hsla(225, 39%, 24%, 0.801);
  padding: 1rem;
  height: max-content;
}


/* Media Query For Tablet */
@media (max-width: 768px) {
  /* Header  */
  .nav-list {
    /* display: none; */
    position: absolute;
    top: -600%;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bgC);
    text-align: center;

    width: 100vw;
    z-index: 99;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    padding-bottom: 2rem;
    padding-top: 7rem;
  }

  .hamburger {
    display: block;
  }

  .brand,
  .hamburger {
    z-index: 100;
  }

  .nav-links.extra {
    margin-top: 4rem;
  }

  .hamburger label {
    cursor: pointer;
  }

  #toggle-nav-checkbox:checked ~ .nav-list {
    top: -2rem;
    opacity: 1;
  }

  /* hero  */
  .hero{
    flex-direction: column-reverse;
  }
}

/* Media Query For Mobile */

@media (max-width: 325px) {
  .nav-links {
    flex-direction: column;
  }
}
